/* Estilo general de la barra de navegación */
.custom-navbar {
    background-color: #00ac00; /* Color verde oscuro para representar la temática agro */
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del logo */
.navbar-logo {
    color: #fff8f8;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-logo:hover {
    color: #d4edda; /* Color verde claro al pasar el ratón */
}

/* Estilos de los enlaces de navegación */
.navbar-link {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Cambio de color en los enlaces cuando se pasa el ratón */
.navbar-link:hover {
    color: #d4edda; /* Cambia a un tono verde claro */
}

/* Estilo del botón toggle (en dispositivos móviles) */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

/* Estilo del ícono en dispositivos móviles */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ajuste para que el contenido esté centrado verticalmente */
.navbar-nav {
    align-items: center;
}

.navbar-weather-info {
    display: flex;
    align-items:end;
    gap: 8px;
    color: #ffffff;
    font-size: 20px;
    padding-right: 20px;
}

.navbar-weather-info span {
    font-weight: bold;
}

/* Estilo para la sección de íconos de redes sociales */
.navbar-social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.navbar-social-icons a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar-social-icons a:hover {
    color: #d4edda; /* Color verde claro al pasar el ratón */
}


/* Asegurarse de que la información se muestre en una sola línea */
@media (max-width: 768px) {
    .navbar-weather-info {
        font-size: 14px;
        padding-right: 10px;
    }
}

/* Ajuste de margen para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-link {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-nav {
        text-align: center;
    }
}
