.custom-navbar {
    background-color: #26ff00;
    padding: 10px 20px;
    text-align:right;
}

.navbar-logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: right;
    font-weight: bold;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: #ffd700;
    text-decoration: underline;
}

.mr-auto
{
    text-align: right;
}
