/* App.css */

/* Estilos globales */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa; /* Color de fondo general */
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-size: 36px;
}

.home-page {
  padding: 20px;
  background-color: #ffffff; /* Color de fondo para la página de inicio */
}


.services-page {
  padding: 20px;
  background-color: #ffffff; /* Color de fondo para la página de servicios */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.col-md-6 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;

} 

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
